*{
    margin: 0;
    padding: 0;
}
html{
    background: #F9F5F2;
    overflow-x: hidden;
}


body{
    max-width: 1240px;
    margin: auto;
    overflow-x: hidden;
}

.header__menu_about-us{
    border: none;
}

.header-about-us{
    justify-content: space-between;
}

.header__logo-about-us{
    padding-left: 0;
    padding-right: 0;
}

.about-us__title{
    font-family: 'Alethia', 'sans-serif';
    font-weight: 350;
font-size: 66.2376px;
line-height: 108.02%;
max-width: 379px;

}

@media screen and (max-width:768px) {
    .about-us__title{
        font-weight: 350;
        font-size: 37px;
        line-height: 102%;
    }
}

.about-us__title__container{
    text-align: -webkit-right;;
}

.about-us__container{
    max-width: 820px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-top: 40px;
    margin-bottom: 45px;
    overflow: hidden;
}

.about-us_vector{
    display: none;
    position: absolute;
    border-top: 1px solid;
    width: 100%;
    top: 58px;
    right: -177px;
}

@media screen and (max-width: 768px) {
    .about-us_vector{
        display: block;
    }
}

.about-us__text{
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 30px;
    max-width: 810px;
    margin-top: 35px;
}
@media screen and (max-width: 768px) {
    .about-us__text{
        font-weight: 400;
font-size: 16px;
line-height: 21px
    }
}



.about-us__container_img{
    display: flex;
    justify-content: center;
}

.about-us__container_quote{
    position: relative; 
    /*background-image: url('./image/Vector\ \(3\).svg');*/
    background-repeat: no-repeat;
    margin-top: 45px;
}

.about-us__vector{
    position: absolute;
    left: -105px;
    width: 132%;
    max-width: 834px;
}

.quote{
    max-width: 470px;
    padding-top:   10%;
    padding-left: 10%;
}

@media screen and (max-width:500px) {
    .quote{
        max-width: 242px;
        padding-top:   15%;
        padding-left: 2%;
    }
}

.quote__text{
    font-family: 'Alethia', 'sans-serif';
font-style: italic;
font-weight: 350;
font-size: 32px;
line-height: 30px;
max-width: 566px;
}

@media screen and (max-width:500px) {
    .quote__text{
        font-weight: 350;
font-size: 13px;
line-height: 14px;
max-width: 242px;
    }
}

.quote__text_author{
    font-family: 'Alethia', 'sans-serif';
    text-align: end;
    margin-right: 23px;
    margin-top: 35px;
    font-style: normal;
    font-weight: 350;
    font-size: 25px;
    line-height: 30px;
}

@media screen and (max-width:500px) {
    .quote__text_author{
        font-weight: 350;
        font-size: 11.5672px;
        line-height: 14px;
    }
}


.about-us__quote_image{
    margin-top: 64px;
}

.about-us__image{
    overflow: hidden;
}

.team-obraz__title{
    font-family: 'Alethia', 'sans-serif';
    font-style: normal;
font-weight: 350;
font-size: 66.2376px;
line-height: 108.02%;
margin-bottom: 70px;
}

@media screen and (max-width:768px) {
    .team-obraz__title{
        font-weight: 350;
        font-size: 37px;
        line-height: 102%
    }
}

.team-obraz__text{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    max-width: 493px;
}

.team-obraz__text-second{
    display: block;
}

@media screen and (max-width:768px) {
    .team-obraz__text-second{
        display: none;
    }
}

.team-obraz__text:not(:last-child){
    margin-bottom: 70px;
}

.team-obraz{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width:768px) {
    .team-obraz{
        justify-content: center;
    }
}

.team-obraz__imagess{
    position: relative;
}

.tema-obraz__image{
    width: 295px;
    height: 280px;
    object-fit: cover;
}

@media screen and (max-width:768px) {
    .tema-obraz__image{
        width: 130px;
        height: auto;
    }
}

.team-obraz__vector{
    position: absolute;
    top: -106px;
    position: relative;
    /* position: absolute; */
    top: -106px;
    /* height: 773px; */
    margin-bottom: -525px;
    display: block
}

.team-obraz__vector-mobile{
    display: none;

}

@media screen and (max-width:768px) {
    .team-obraz__vector-mobile{
        display: block;
        position: absolute;
        left: -21px;
        top: -20px;
    }
    .team-obraz__vector{
        display: none;
    }
}

.team-obraz__container-images{
    display: flex;
}

.team-obraz__images{
    max-width: min-content;
}

.images-first{
    margin-top: 135px;
    margin-right: 20px;
}

@media screen and (max-width:768px) {
    .images-first{
        margin-top: 40px;
    }
}

.tema-obraz__image:not(:last-child){
    margin-bottom: 20px;
}


.new-life{
    margin-top: 70px;
    position: relative;
    margin-bottom: 80px;
}


.new-life__title{
    font-family: 'Alethia', 'sans-serif';
    text-align: center;
    font-weight: 350;
font-size: 66.2376px;
line-height: 108.02%;
}

@media screen and (max-width:768px) {
    .new-life__title{
        font-size: 43px;
    }
}

.new-life__vector{
    position: absolute;
    left: -99px;
    margin-top: -44px;

}

.new-life__subtitle{
    max-width: 525px;
    font-family: 'Alethia', 'sans-serif';
    font-style: italic;
font-weight: 350;
font-size: 32px;
line-height: 30px;
margin-bottom: 30x;
}

.new-life__subtitle:not(:first-child){
    margin-bottom: 110px;
}

.new-life__subtitle:first-child{
    margin-bottom: 45px;
}

.new-life__container{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media screen and (max-width:768px) {
    .new-life__container{
        display: none;
    }
}

@media screen and (max-width:1239px) {
    .new-life__container{
        flex-wrap: wrap;
    }
}

.new-life__text{
    max-width: 505px;
    font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #464646;
margin-top: 58px;
}

.new-life__container_text{
    width: 730px;
    margin-top: 75px;

}

.about-us{
    margin-bottom: 130px;
}


@media screen and (max-width:768px) {
    .header-about-us{
        margin-left: 20px;
        margin-right: 20px;
    }

    .about-us{
        margin-left: 20px;
        margin-right: 20px;
    }

    .team-obraz{
        margin-left: 20px;
        margin-right: 20px;
    }

    .new-life{
        margin-left: 20px;
        margin-right: 20px;
    }
}

