@font-face {
    font-family: "RalewayRegular";  
    src: url("./Raleway-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 

@font-face {
    font-family: 'Alethia';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./Alethianext.otf') format('opentype');
}

@font-face {
    font-family: "RalewayMedium";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('./Raleway-Medium.ttf') format("ttf");;
}

